@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.reportItem {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: #6f1f5f;
  font-weight: 600;
  font-size: 16px;
  border-left: 3px solid #6f1f5f;
  border-bottom: 3px solid #6f1f5f;
  background-color: #f0f0f0;
}
